.portfolio-container {
  position: relative;
}
.portfolio-page {
  width: 100vw;
  // position: relative;
  z-index: 100;
  margin: auto;
}
.portfolio-line {
  position: relative;
  height: 99%;
  width: 30%;
  margin: auto;
  top: 5px;
  max-width: 333px;
  // opacity: 0;
}
.portfolio-line__circle {
  position: absolute;
  top: 0;
  //If border size is changed you must also change the corresponding
  //borderSize value located in PortfolioLine.js
  border: 5px solid #70ba07;
  border: 7px solid $circleColor;
  opacity: 0;
  // transition: all 1s ease-out;
}
.portfolio-line__header {
  top: 10%;
  width: 140%;
  height: 80%;
  position: absolute;
  color: white;
  text-align: center;
  padding: 60% 0;
  transform: scale(0);
  font-size: 1rem;
}
.portfolio-line__header--opacity {
  transform: scale(1);
  transition: transform 0.3s ease-out;
  transition-delay: 0.5s;
}
.portfolio-item {
  top: 10%;
  width: 270%;
  height: 80%;
  position: relative;
  border: 1px solid #2e7501;
  transition: transform 0.5s;
  box-shadow: 0 0 2px 3px #02f286;
  // transform: scale(1.1);
  &:hover {
    transform: scale(1.1);
  }
}
.portfolio-item img {
  width: 100%;
  height: 100%;
}
.throwawayp {
  position: absolute;
  width: 5px;
  height: 5px;
  left: 10%;
  top: 50%;
}

@import "animations/portfolio_animations.scss";

.portfolio-line__circle {
  top: 800px;
}
