.portfolio-page {
  width: 100vw;
  // position: relative;
  z-index: 100;
  margin: auto;
  // top: 500px;
}
.portfolio-line {
  position: relative;
  height: 100%;
  width: 30%;
  margin: auto;
  top: 5px;
  max-width: 333px;
}
.portfolio-line__circle {
  // max-width: 250px;
}
.portfolio-line__circle--circle1 {
  position: absolute;
  top: 0;
  border: 5px solid #007bff;
  border: 5px solid #70ba07;
}
.portfolio-item {
  top: 10%;
  width: 270%;
  height: 80%;
  position: relative;
  overflow: hidden;
  border: 1px solid #2e7501;
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}
.portfolio-item img {
  width: 100%;
  height: 100%;
}
