*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; }

body {
  background: #4a4a48; }

a {
  text-decoration: none;
  color: inherit; }

h1,
h2,
h3,
h4,
h5 {
  text-align: center; }

.boldtext {
  font-family: "Alegreya Sans SC", sans-serif;
  text-align: center; }

.main {
  width: 100vw;
  height: 100vh; }

.hero-screen {
  height: 100vh;
  width: 100vw;
  background: #fffffe;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s cubic-bezier(0.4, 0.02, 0.88, 0.04);
  z-index: 1000; }

.intro {
  width: 100vw;
  height: 100vh;
  max-height: 700px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto; }

.intro__triangle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-top: 55px solid #70ba07;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  border-bottom: 55px solid transparent;
  transform-origin: 50% 25%;
  transition: transform 0.3s linear; }

.intro__nameplate {
  position: absolute;
  top: 31%;
  left: 0;
  right: 0;
  margin: auto;
  width: 335px;
  height: 155px;
  background: white;
  cursor: pointer;
  display: flex;
  font-family: "Sriracha", cursive;
  font-size: 4.1rem;
  transform: scale(0);
  box-shadow: 0 2px 3px 2px #222220;
  z-index: 100; }

.intro__nameplate--first {
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 155px;
  background: #70ba07; }

.intro__nameplate--last {
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 155px;
  background: #069436; }

.intro__subtext {
  position: relative;
  top: 51%;
  left: 0;
  right: 0;
  margin: auto;
  width: 325px;
  height: 100px;
  display: flex;
  pointer-events: none;
  transform: scaleX(0);
  transform-origin: 0% 50%;
  z-index: 101; }

.intro__subtext img {
  width: 50%;
  height: 100%; }

.boldtext--intro {
  position: absolute;
  left: 35%;
  width: 50%;
  height: 100%;
  line-height: 100px;
  font-size: 4rem; }

.avatar-img {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 180px;
  height: 180px;
  box-shadow: 0 2px 3px 1px #474747; }

.animation__grow-triangle {
  animation: growTriangle 1s; }

.animation__growNameplate {
  animation: growNameplate 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s; }

.animation__intro-subtext {
  animation: growSubtext 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s; }

.animation__dropNameplate {
  animation: dropNameplate 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.75s; }

@keyframes growTriangle {
  0% {
    transform: scale(0); }
  20% {
    transform: scale(1.2); }
  30% {
    transform: scale(1.3);
    opacity: 1; }
  60% {
    transform: scale(1.4); }
  100% {
    transform: scale(1.5);
    opacity: 0; } }

@keyframes growNameplate {
  0% {
    transform: scale(0); }
  40% {
    transform: scale(1.2); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@keyframes growSubtext {
  0% {
    transform: scaleX(0); }
  40% {
    transform: scaleX(1); }
  60% {
    transform: rotate(7deg);
    transform-origin: 50% 50%; }
  80% {
    transform: rotate(-7deg);
    transform-origin: 50% 50%; }
  100% {
    transform: rotate(0);
    transform-origin: 50% 50%; } }

@keyframes dropNameplate {
  0% {
    transform: translate(0, -1000px); }
  80% {
    transform: translate(0, 0); }
  85% {
    transform: translate(0, -20px); }
  100% {
    transform: translate(0, 0); } }

.portfolio-page {
  width: 100vw;
  z-index: 100;
  margin: auto; }

.portfolio-line {
  position: relative;
  height: 100%;
  width: 30%;
  margin: auto;
  top: 5px;
  max-width: 333px; }

.portfolio-line__circle {
  position: absolute;
  top: 0;
  border: 5px solid #007bff;
  border: 5px solid #70ba07; }

.portfolio-item {
  top: 10%;
  width: 270%;
  height: 80%;
  position: relative;
  border: 1px solid #2e7501;
  transition: transform 0.5s; }
  .portfolio-item:hover {
    transform: scale(1.1); }

.portfolio-item img {
  width: 100%;
  height: 100%; }

.introduction-main-container {
  width: 100vw;
  height: 100vh;
  min-height: 720px;
  font-family: "Raleway", sans-serif;
  font-size: 1.9rem;
  padding: 2.5% 0; }

.introduction {
  position: relative;
  width: 370px;
  height: 700px;
  border: 1px solid #515600;
  margin: auto;
  box-shadow: 0 2px 3px 2px #222220;
  padding: 10px 10px;
  z-index: 100; }

.intro__nameplate--second {
  position: relative;
  top: 15px; }

.introduction__text {
  margin: auto;
  text-align: center;
  position: relative;
  color: #70ba07; }

.introduction__char {
  opacity: 0;
  transform: translate(50px, 0) scale(0.2);
  min-width: 0.5rem;
  display: inline-block; }

.introduction__char2 {
  opacity: 0;
  transform: translate(0, -200px) scale(0.1);
  text-align: center;
  margin: auto; }

.introduction__char--transition {
  opacity: 1;
  transform: translate(0, 0) scale(1);
  transition: all 1.1s ease-in; }

.introduction__char--transition2 {
  opacity: 1;
  transform: translate(0, 0) scale(1);
  transition: all 0.7s ease-in; }
