*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; }

body {
  background: #e6e1e5; }

a {
  text-decoration: none;
  color: inherit; }

h1,
h2,
h3,
h4,
h5 {
  text-align: center; }

.boldtext {
  font-family: "Alegreya Sans SC", sans-serif;
  text-align: center; }

.hero-screen {
  height: 100vh;
  width: 100vw;
  background: #fffffe;
  position: absolute;
  top: 0;
  left: 0; }

.intro {
  width: 100vw;
  height: 100vh;
  max-height: 700px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto; }

.intro__triangle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-top: 55px solid #5959cf;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  border-bottom: 55px solid transparent;
  transform-origin: 50% 25%;
  transition: transform 0.3s linear; }

.intro__nameplate {
  position: absolute;
  top: 31%;
  left: 0;
  right: 0;
  margin: auto;
  width: 335px;
  height: 155px;
  background: white;
  cursor: pointer;
  display: flex;
  font-family: "Sriracha", cursive;
  font-size: 4.1rem;
  transform: scale(0); }

.intro__nameplate--first {
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 155px;
  background: #5959cf; }

.intro__nameplate--last {
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 155px;
  background: #a7a7fc; }

.intro__subtext {
  position: relative;
  top: 51%;
  left: 0;
  right: 0;
  margin: auto;
  width: 325px;
  height: 100px;
  display: flex;
  pointer-events: none;
  transform: scaleX(0);
  transform-origin: 0% 50%; }

.intro__subtext img {
  width: 50%;
  height: 100%; }

.boldtext--intro {
  position: absolute;
  left: 35%;
  width: 50%;
  height: 100%;
  line-height: 100px;
  font-size: 4rem; }

.avatar-img {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 180px;
  height: 180px; }

.animation__grow-triangle {
  animation: growTriangle 1s; }

.animation__growNameplate {
  animation: growNameplate 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s; }

.animation__intro-subtext {
  animation: growSubtext 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s; }

@keyframes growTriangle {
  0% {
    transform: scale(0); }
  20% {
    transform: scale(1.2); }
  30% {
    transform: scale(1.3);
    opacity: 1; }
  60% {
    transform: scale(1.4); }
  100% {
    transform: scale(1.5);
    opacity: 0; } }

@keyframes growNameplate {
  0% {
    transform: scale(0); }
  40% {
    transform: scale(1.2); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@keyframes growSubtext {
  0% {
    transform: scaleX(0); }
  40% {
    transform: scaleX(1); }
  60% {
    transform: rotate(7deg);
    transform-origin: 50% 50%; }
  80% {
    transform: rotate(-7deg);
    transform-origin: 50% 50%; }
  100% {
    transform: rotate(0);
    transform-origin: 50% 50%; } }
